label, .input-group, .input-group-append {
  color: #000000; 
}

.form-control{
  color: #000000;
  border-color: #000000;
}

.input-group-text {
  color: #000000;
  border-color: #000000;
}

input {
  color: #000000;
}

body {
  background-color: #ffff00;
}

table tr td:nth-child(2){
  color: #007bff;
}

table tr td:nth-child(3){
  color: #dc3545;
}
